/*----------------------------------------
    Login Page
------------------------------------------*/
.login-bg {
    // background-image: url("../../images/gallery/flat-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #login-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #login-page .card-panel.border-radius-6.login-card {
    margin-left: 0 !important;
  }
  